<div class="navigate" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand"><img src="/modules/core/img/logo.png" height="35px" style="margin-top: -8px;"></a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>


			<li class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-info input-sm" ng-if="betNotifications.length==0">
                    Subscribe Event Categpories
                </button>

                <button type="button" class="btn btn-success dropdown-toggle input-sm" ng-if="betNotifications.length > 0">
                    Subscribe Event Categpories
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a>
                        </a>
                    </li>
                </ul>
            </li>

		</ul>
		


		<ul class="nav navbar-nav" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Subscribe Event Category</span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li style="cursor:pointer"><a value="Sports" ng-click="subscribe(this.value)" selected>Sports</a></li>
					
					<li style="cursor:pointer"><a value="Party" ng-click="subscribe(this.value)">Party</a></li>
                    
                    <li style="cursor:pointer"><a value="Launch" ng-click="subscribe(this.value)">Launches</a></li>
                    
                    <li style="cursor:pointer"><a value="Church" ng-click="subscribe(this.value)">Religion</a></li>
                    
                    <li style="cursor:pointer"><a value="Music" ng-click="subscribe(this.value)">Music</a></li>
                    
                    <li style="cursor:pointer"><a value="Awards" ng-click="subscribe(this.value)">Awards</a></li>
                    
                    <li style="cursor:pointer"><a value="Church" ng-click="subscribe(this.value)">Seminars</a></li>
                    
                    <li style="cursor:pointer"><a value="Fashion" ng-click="subscribe(this.value)">Fashion</a></li>
                    
                    <li style="cursor:pointer"><a value="Arts" ng-click="subscribe(this.value)">Arts</a></li>
                    
                    <li style="cursor:pointer"><a value="Others" ng-click="subscribe(this.value)">Other Category</a></li>
				</ul>
			</li>
		</ul>


		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>