<section data-ng-controller="HomeController">
	<div class="text-center">
		<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
		  <div class="carousel-inner">
		    <div class="item active home" id="one"><!-- class of active since it's the first item -->
		      <img src="../modules/core/img/33H.jpg">
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		    <div class="item home" id="two">
		      <img src="../modules/core/img/63H.jpg">
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		    <div class="item home" id="three">
		      <img src="../modules/core/img/home.jpg">
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		    <div class="item home" id="four">
		      <img src="../modules/core/img/140H.jpg">
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		  </div><!-- /.carousel-inner -->
		  <!--  Next and Previous controls below
		        href values must reference the id for this carousel -->
		    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->
	</div>
	<div class="row text-center blue">
		<p><strong>i-Vents</strong> because YOU make the Events...</p>
	</div>
	<div class="row text-center">
		<div class="col-md-3 expo">
			`<img src="../modules/core/img/shows.png">
			<h2>
				<strong>P</strong>arties
			</h2>
			<p>&spades; Birthdays</p>
			<p>&spades; Graduation parties</p>
			<p>&spades; Anniversaries, etc</p>
		</div>
		<div class="col-md-3 expo">
			<img src="../modules/core/img/show.png">
			<h2>
				<strong>S</strong>hows
			</h2>
			<p>&spades; Comedy</p>
			<p>&spades; Music</p>
			<p>&spades; Karaoke, etc</p>
		</div>
		<div class="col-md-3 expo">
			<img src="../modules/core/img/religion.png">
			<h2>
				<strong>Art</strong> Exhibitions
			</h2>
			<p>&spades; Awards</p>
			<p>&spades; Fashion</p>
			<p>&spades; Music, etc</p>
		</div>
		<div class="col-md-3 expo">
			<img src="../modules/core/img/art.png">
			<h2>
				<strong>Every</strong>thing!
			</h2>
			<p>&spades; Religious events</p>
			<p>&spades; Sports events</p>
			<p>&spades; Seminars, etc</p>
		</div>
	</div>
	<div class="row text-center how-it-works">
		<h1>How It All Works</h1>
		<div class="col-md-6 how">
			<h3>i-Vent Hosts</h3>
			<ul>
				<li>&spades; Sign Up or Sign In</li>
				<li>&spades; Create your event</li>
				<li>&spades; Publish for iVents Seekers to find</li>
			</ul>
		</div>
		<div class="col-md-6 how">
			<h3>i-Vent Seekers</h3>
			<ul>
				<li>&spades; Sign Up or Sign In</li>
				<li>&spades; RSVP events you're interested in</li>
				<li>&spades; Never miss an event</li>
				<li>&spades; Search for events in categories of your interest</li>
			</ul>
		</div>
	</div>
	<div class="row foot text-center pad">
		<br>&copy;2014 The iVents Team | Andela
	</div>
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>