<section data-ng-controller="HomeController">
	<div class="text-center">
		<img src="../modules/core/img/home.jpg" class="home">
	</div>
	<div class="row text-center blue">
		<p>If i-Vent Cannot Take Care Of You, Nobody Can....</p>
	</div>
	<div class="row text-center">
		<div class="col-md-3 expo">
			`<img src="../modules/core/img/shows.png">
			<h2>
				<strong>P</strong>arties
			</h2>
			<p>&spades; Birthdays</p>
			<p>&spades; Graduation parties</p>
			<p>&spades; Anniversaries, etc</p>
		</div>
		<div class="col-md-3 expo">
			<img src="../modules/core/img/show.png">
			<h2>
				<strong>S</strong>hows
			</h2>
			<p>&spades; Comedy shows</p>
			<p>&spades; Music shows</p>
			<p>&spades; Karaoke, etc</p>
		</div>
		<div class="col-md-3 expo">
			<img src="../modules/core/img/religion.png">
			<h2>
				<strong>Art</strong> Exhibitions
			</h2>
			<p>&spades; Awards</p>
			<p>&spades; Fashion</p>
			<p>&spades; Music, etc</p>
		</div>
		<div class="col-md-3 expo">
			<img src="../modules/core/img/art.png">
			<h2>
				<strong>Every</strong>thing!
			</h2>
			<p>&spades; Religious events</p>
			<p>&spades; Sports events</p>
			<p>&spades; Seminars, etc</p>
		</div>
	</div>
	<div class="row text-center how-it-works">
		<h1>&#9829; How It All Works</h1>
		<div class="col-md-6 how">
			<h3>&#9830; i-Vent Hosts</h3>
			<ul>
				<li>&spades; Sign Up or Sign In</li>
				<li>&spades; Create your event</li>
				<li>&spades; Publish for i-Vent Seekers to find</li>
			</ul>
		</div>
		<div class="col-md-6 how">
			<h3>&#9830; i-Vent Seekers</h3>
			<ul>
				<li>&spades; Sign Up or Sign In</li>
				<li>&spades; Search for events in categories of your interest</li>
				<li>&spades; RSVP events you're interested in</li>
				<li>&spades; Never let your events pass you by</li>
				<li>&spades; Never stay bored</li>
			</ul>
		</div>
	</div>
	<div class="row foot text-center pad">
		<br>&copy;2014 The i-Vent Team | Andela
	</div>
</section>
