@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	font-weight: bold;
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	box-shadow: 5px 5px 5px #888888;
	display:inline-block
}

.content {
    margin-top: 50px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.home {
    width: 100%;
    height: 70vh;
}
.blue {
    color: white;
    background: rgb(50, 139, 129);
    padding: 20px;
}
.pad {
    padding: 30px;
}
.pad-small {
    background: rgb(46, 122, 129);
    padding: 15px;
}
.pad-small:hover {
    background: rgb(81, 161, 228);
}
.pad-div {
    margin: 0 16%;
}
.nav-style {
	border-bottom: rgb(59,135,124);
	border-bottom-width: 5px;
	border-bottom-style: solid;
	width: 100%;
	padding: 0 30px;
}
.navigate {
    border-top: rgb(59, 135, 124);
    border-top-width: 5px;
    border-top-style: solid;
    background: white;
}
.how-it-works {
    background: rgb(122, 132, 136);
}
.how {
    border-left: rgb(59, 135, 124);
    border-left-width: 5px;
    border-left-style: solid;
}
.how li {
    list-style: none;
}
.expo {
    padding: 20px;
}
.expo:hover {
    background: rgb(203, 208, 211);
    color: white;
}
.events-pages {
	background: rgb(59,210,172);
	padding: 5%;
}
.reg-form {
    background: rgb(45, 62, 82);
    padding: 5%;
    border-radius: 5px;
    color: white;
}
.input-border {
    border: solid 2px rgb(40, 55, 75);
    background: rgb(53, 73, 96);
    color: grey;
}
.foot {
    border-top: rgb(59, 135, 124);
    border-top-width: 5px;
    border-top-style: solid;
    color: white;
    background: rgb(21, 21, 21);
}


.qrCode {
    margin-top: 50px;
}
.qrCode1 {
    width: 80%;
    height: 60%;
}
/*******************
	MAP CONTAINER
*******************/

.mapResult {
    border: solid 1px gray;
    height: 400px;
    width: 80%;
}
.map h2 {
    font-size: 1.5em;
}
