.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.home {
	width: 100%;
	height: 70vh;
}
.blue {
	color: white;
	background: rgb(50,139,129);
	padding: 20px;
}
.pad {
	padding: 30px;
}
.pad-small {
	background: rgb(59,135,124);
	padding: 15px;
}
.pad-small:hover {
	background: rgb(57,174,84);
}
.navigate {
	border-top: rgb(59,135,124);
	border-top-width: 5px;
	border-top-style: solid;
	background: white;
}
.how-it-works {
	background: rgb(141,152,153);
}
.how {
	border-left: rgb(59,135,124);
	border-left-width: 5px;
	border-left-style: solid;
}
.how li {
	list-style: none;
}
.expo {
	padding: 20px;
}
.expo:hover {
	background: black;
	color: white;
}
.reg-form {
	background: rgba(21,21,21, 0.8);
	padding: 30px;
	border-radius: 5px;
	color: white;
}
.input-border {
	border: solid 2px black;
	background: rgb(25,25,25);
	color: grey;
}
.foot {
	border-top: rgb(59,135,124);
	border-top-width: 5px;
	border-top-style: solid;
	color: white;
	background: rgb(21,21,21);
}
