<section data-ng-controller="ProgramsController">
<div class="container reg-form">
    <div class="page-header">
        <h1>New Event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Event Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control input-border" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="category">Event Category</label>
                    <div class="controls">
                        <select data-ng-model="category" id="category" placeholder="Choose Category" class="col-md-12">
                            <option value="Sports" selected>Sports</option>
                            <option value="Party">Party</option>
                            <option value="Launch">Launches</option>
                            <option value="Church">Religion</option>
                            <option value="Music">Music</option>
                            <option value="Awards">Awards</option>
                            <option value="Church">Seminars</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Arts">Arts</option>
                            <option value="Others">Other Category</option>
                        </select>
                    </div>
                    <label class="control-label" for="location">Event Location</label>
                    <div class="controls">
                        <input type="text" ng-autocomplete data-ng-model="location" details="details2" options="options2" id="location" class="form-control input-border" placeholder="Location" required>
                    </div>

                    <label class="control-label" for="description">Event Details</label>
                    <div class="controls">
                        <textarea type="text" data-ng-model="description" row="2" id="description" class="form-control input-border" placeholder="description" required></textarea>
                    </div>
                    <label class="control-label" for="date">Event Date</label>
                    <div class="controls">
                        <input type="text" data-ng-model="programDate" id="date" class="form-control input-border" placeholder="YYYY/MM/DD" required>
                    </div>
                    <label class="control-label" for="time">Event Time</label>
                    <div class="controls">
                        <input type="text" data-ng-model="programTime" id="time" class="form-control input-border" placeholder="00:00" required>
                    </div>
                    <label class="control-label" for="image">Event Image</label>
                    <input type="file" id="image" data-ng-file-select="onFileSelect($file)" accept="image/*">

                </div>

                <div class="form-group">
                    <button class="btn col-md-12 pad-small" type="submit"><i class="glyphicon glyphicon-eye-open"></i>
                        PUBLISH!
                    </button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</section>
