<section data-ng-controller="ProgramsController" data-ng-init="find()">
<div class="events-pages row col-md-12">
    <div class="page-header">
        <h1>All Events</h1>
    </div>
    <div data-ng-if="nearEvents.length > 0">
        Events Near You
        <div data-ng-repeat="event in nearEvents" data-ng-href="#!/programs/{{program._id}}">
            <p data-ng-bind="event">

            </p>
        </div>
    </div>
    <div class="list-group row">
        <a data-ng-repeat="program in programs" data-ng-href="#!/programs/{{program._id}}" class="list-group-item col-md-3 shake" style="margin:5px;background:rgb(80,158,224)">
            <div style="height:180px;width:100%;background: url({{program.image[0].path}}) top center no-repeat;background-size:cover;margin:0px auto;">
            </div>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="program.created | date:'medium'"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="program.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!programs.$resolved || programs.length">
        No Events yet, why don't you <a href="/#!/programs/create">create one</a>?
    </div>
</div>
<div class="row foot text-center pad">
    <br>&copy;2014 The i-Vent Team | Andela
</div>
</section>