<section data-ng-controller="ProgramsController" data-ng-init="findOne()">
<div class="jumbotron container">
	<div class="page-header">
		<h1 data-ng-bind="program.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == program.user._id">
		<a class="btn btn-primary" href="/#!/programs/{{program._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="program.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="program.user.displayName"></span>
			<span data-ng-bind="program.likes.length"></span> Like(s)
		</em>
	</small>
	<div class="row pad">
		<button class="btn col-xs-3 pad-small pad-div" ng-click="doLike()"><i class="glyphicon glyphicon-heart"></i>
            Like
        </button>
        <button class="btn col-xs-3 pad-small"ng-click="openCommentForm()"><i class="glyphicon glyphicon-tint"></i>
            Say Something About This Event
        </button>
	</div>
	<div class="list-group">
        <div class="row col-md-12"></div>
        <div data-ng-repeat="comment in comments"  class="list-group-item col-md-10">
        	<p class="lead" data-ng-bind="comment.comment"></p>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="comment.created | date:'medium'"></span>
				by
				<span data-ng-bind="comment.user.displayName"></span>
			</small>
        </div>
    </div>
	</br>
	<div ng-show="makeComment"></br>
        <div class="form-group"></br>
            <div class="controls col-md-6"></br>
            	<label class="control-label" for="comment">Say Something</label>
                <textarea type="text" data-ng-model="newComment" row="2" id="comment" class="form-control input-border" placeholder="Comment" required></textarea></br>
                <button class="btn col-xs-3 pad-small" ng-click="addComments()"><i class="glyphicon glyphicon-tint"></i>
    				Say It!
				</button>
            </div>
        </div>
	</div>
</div>
</section>